@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #3a3939;
    margin: 0;
    background-image: url(../img/bg-dea.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1,h2{
    color: #fff;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*padding-top: 20px;*/
}

footer{
    background-color: #fff;
    width: 100%;
    display: flex;
    margin-top: 3%;
    color: #000;
    padding: 1%;
    box-sizing: border-box;
    flex-direction: column;
}

/*------------------------- COMIENZO ESTILOS MENU ---------------------*/
#btn-menu{
    display: none;
}

header {
    width: 99.4%;
    height: 40px;
    margin: auto;
    background-color: #ffff;
    padding: 4px;
}

header label{
    display: none;
    padding-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    padding-top: 5px;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu li:hover{
    border-bottom: 1px solid #000;
}

.menu a{
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: #000;
}

/*------------------------- FIN ESTILOS MENU -------------------------*/

/*--------------------- COMIENZO ESTILOS INICIO ----------------------*/
.spotify-reproductor-content, .logo-add, .carousel-contenido{
    margin: 30px auto 0 auto;
}

.spotify-reproductor{
    width: 500px;
    height: 210px;
}
/*------------------------- FIN ESTILOS INICIO -----------------------*/

/*---------------------- COMIEZO ESTILOS BIOGRAFIA -------------------*/
.contenido-biografia {
    width: 60%;
    margin: 2% auto 0 auto;
    padding: 3%;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgba(68, 68, 68, 0.60);
    color: #fff;
}

.tarjetas_integrantes{
    width: 100%;
    margin: 4% auto 0 auto;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjetas_integrantes img{
    width: 100%;
}

.tarjeta{
    width: 35%;
    margin: 20px;
    background-color: #202020;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 7px 8px 10px 0px #c5c5c517;
}

.tarjetas h2{
    font-size: 6em;
}
.tarjeta i{
    margin: 3%;
}
.instrumento{
    font-size: 1.5em;
    color: #c5c5c5;
}
/*----------------------- FIN ESTILOS BIOGRAFIA ----------------------*/

/*----------------------- ESTILOS DE LA GALERIA ----------------------*/
.galeria{
    width: 100%;
    text-align: center;
    
}

.fotos_galeria{
    width: 80%;
    margin: 0 auto 2%  auto;
    background-color: rgba(68, 68, 68, 0.60);
    border-radius: 5px;
    text-align: left;
    padding: 2%;
    box-sizing: border-box;
}

.fotos{
    padding: 0;
    width: 99%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotos li{
    margin: 1%;
}

.fotos img{
    width: 250px;
    border-radius: 5px;
}

.videos{
    width: 80%;
    margin: 0 auto 2% auto;
    background-color: rgba(68, 68, 68, 0.60);
    border-radius: 5px;
    text-align: left;
    padding: 2%;
    box-sizing: border-box;

}

.video{
    margin: auto;
    width: 100%; 
    display: flex;
}

.video iframe{
    margin: auto;
    padding: 1%;
}
/*-------------------------- FIN ESTILOS GALERIA -----------------------*/

/*-------------------------- COMIENZO ESTILOS DEMO ---------------------*/
.demo_contenedor{
    width: 80%;
    margin: auto;
    padding: 2%;
    background-color: rgba(68, 68, 68, 0.60);
    box-sizing: border-box;
}
.demo{
    width: 100%;
    margin: auto;
    display: flex;
    padding: 5%;
    box-sizing: border-box;
    color: #fff;
}
.demo p{
    margin: 0;
}
.demo img{
    width: 300px;
    height: 300px;
    margin: 0 2% 2% 0;
}

.plataformas{
    width: 100%;
    color: #000;
    margin-top: 2%;
}

.plataformas ul{
    width: 70%;
    margin: auto;
    /*background-color: #fff;*/
    list-style: none;
    display: flex;
    padding: 0%;
    flex-direction: column;
}

.plataformas a{
    background-color: #fff;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 2%;
    margin: 1%;
    font-size: 2em;
    text-align: center;
    border-radius: 3px;
}

.plataformas a:hover{
    background-color: rgb(126, 118, 118);
    transition: all 0.5s;
}
.plataformas i{
    margin-right: 3%;
}

/*----------------------------- FIN ESTILOS DEMO ------------------------*/

/*------------------------ COMIENZO ESTILO CONTACTO ---------------------*/
/*-------------------------- FIN ESTILOS CONTACTO -----------------------*/

.form_contacto{
    width: 60%;
    margin: auto;
    background-color: rgba(68, 68, 68, 0.6);
    padding: 2%;
    border-radius: 5px;
    box-sizing: border-box;
}
.form_contacto hr{
    margin-bottom: 2%;
}
.form_contacto input {
    width: 100%;
    background:rgba(68, 68, 68, 0.9);
    padding: 2%;
    border-radius: 4px;
    border: 1px solid #fff;
    font-size: 1em;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.form_contacto .btn_contacto{
    background-color: #fff;
    color: #000;
    margin: 2% 0 2% 0;
}
.form_contacto .btn_contacto:hover{
    background-color: #3a3939;
    color: #fff;
}
/*------------------------ FIN ESTILOS CONTACTO -------------------------*/

/*---------------------- COMIENZO ESTILOS FOOTER ------------------------*/

.iconos_sociales{
    color: #000;
    margin: auto ;
    padding: 0;
    width: 100%;
}

.iconos_sociales ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: auto;
    width: 5%;
}

.iconos_sociales li{
    margin: auto;
    padding: 4%;
    margin: 1%;
}

.iconos_sociales a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
}


/*------------------------- FIN ESTILOS FOOTER --------------------------*/

/*------------------------  COMIENZO SECCION MEDIA ----------------------*/

/*-----------------------------------------------------------------------*/
/*Comienzo media 768 px */
@media (max-width: 768px){
    header label{
        display: block;
    }

    .menu{
        position: static;
        background-color: #ffff;
        padding: 0;
        width: 100%;
        float: right;
        margin-top: -100%;
        transition: all 0.5s;

    }
    .menu ul{
        flex-direction: column;
        text-align: center;
        padding-bottom: 2px;
        border-radius: 3px;
    }

    #btn-menu:checked ~ .menu{
        margin-top: 10px;
    }

    .spotify-reproductor{
        width: 100%;
    }

    .contenido-biografia{
        width: 80%;
    }

    .fotos img{
        width: 100%;
    }

    .video iframe{
        height: 380px;
    }

    .tarjeta{
        width: 100%;
    }

    .demo {
        flex-direction: column;
    }

    .demo img{
        width: 100%;
        height: auto;
    }

    .plataformas ul{
        width: 100%;
    }
}

/*Fin media 768 tablet*/

/**Comienzo media 888px*/
@media (max-width: 887px){
    .tarjeta{
        width: 100%;
    }
}

/*Comienzo media 650px*/
@media (max-width: 650px){
    .video iframe{
        height: 240px;
    }
    .form_contacto {
        width: 90%;
    }
}
@media (max-width: 399px){
    .video iframe{
        width: 100%;
        height: 240px;
    }
    
    .plataformas ul{
        width: 100%;
    }

    .plataformas a{
        font-size: 1em;
    }

    .iconos_sociales ul{
        flex-direction: column;
    }
    
}
/*Fin media 650px*/